{
      "global": "true",
      "title": "{{ input_type }}",
      "configuration": {
        "port": {{ graylog2_input_port }},
        "bind_address": "0.0.0.0"
      },
      "creator_user_id": "admin",
      "type": "{{ input_type }}"
}'
